<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ObjPath" value="african_head.obj" />
    <add key="TexPath" value="african_head_diffuse.jpg" />
  </appSettings>
</configuration>